[package]
name = "omni-connector"
version = "0.2.11"
edition = "2021"

[dependencies]
sha3.workspace = true
bitcoin.workspace = true
borsh.workspace = true
ethers.workspace = true
derive_builder.workspace = true
hex.workspace = true
near-crypto.workspace = true
near-jsonrpc-client.workspace = true
near-primitives.workspace = true
near-token.workspace = true
near-contract-standards.workspace = true
omni-types.workspace = true
serde_json.workspace = true
tracing.workspace = true
solana-sdk.workspace = true
eth-light-client.workspace = true
eth-proof = { path = "../../eth-proof" }
near-rpc-client = { path = "../../near-rpc-client" }

zcash_primitives = { version = "0.23.1", default-features = false, features = ["circuits", "test-dependencies", "transparent-inputs"] }
zcash_transparent = { version = "0.3.0", features = ["transparent-inputs"] }
zcash_protocol = "0.5.4"
pczt = { version = "0.3.0", features = ["std", "signer", "io-finalizer", "prover", "signer", "tx-extractor", "spend-finalizer", "zcp-builder", "tx-extractor"] }
bip0039 = "0.12.0"
zcash_keys = "0.9"
orchard = { version = "0.11", default-features = false }
zcash_address = "0.9"

crypto-utils = { path = "../../crypto-utils" }
utxo-utils = { path = "../../utxo-utils" }
bridge-connector-common = { path = "../bridge-connector-common" }

near-bridge-client = { path = "../../bridge-clients/near-bridge-client" }
evm-bridge-client = { path = "../../bridge-clients/evm-bridge-client" }
solana-bridge-client = { path = "../../bridge-clients/solana-bridge-client" }
wormhole-bridge-client = { path = "../../bridge-clients/wormhole-bridge-client" }
utxo-bridge-client = { path = "../../bridge-clients/utxo-bridge-client" }
ripemd = "0.1.3"
sha2 = "0.10.9"
bincode = "1.3.3"
incrementalmerkletree = "0.8.2"
anyhow = "1.0.99"
[lib]
path = "src/omni_connector.rs"
